h1 {
  text-align: center;
}
.button {
  display: flex;
  width: 100%;
  justify-content: center;
}
button {
  background-color: #e7c859;
  border: 2px solid #e69d8d;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
#pokemonInfo {
  padding: 3rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  border-radius: 10px;
  align-items: center; /* Menengahkan elemen secara horizontal */
}

.pokemonCard {
  margin: 10px;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

/* Styles for different types */
.grass {
  background-color: #8dd694;
  border: 2px solid #5dad65;
}

.water {
  background-color: #8dc6e6;
  border: 2px solid #6f9eca;
}

.fire {
  background-color: #e69d8d;
  border: 2px solid #c67d6d;
}

.bug {
  background-color: #bddd7a;
  border: 2px solid #a2c170;
}

.normal {
  background-color: #b1b1b1;
  border: 2px solid #959595;
}

.flying {
  background-color: #c9adec;
  border: 2px solid #a485cc;
}

.rock {
  background-color: #b99d72;
  border: 2px solid #957d59;
}

.ground {
  background-color: #d053bc;
  border: 2px solid #d0a068;
}

.psychic {
  background-color: #d053bc;
  border: 2px solid #a44094;
}

.ghost {
  background-color: #835e94;
  border: 2px solid #6b4c79;
}

.dark {
  background-color: #686868;
  border: 2px solid #434343;
}

.steel {
  background-color: #598fa3;
  border: 2px solid #517c8b;
}

.poison {
  background-color: #a55d81;
  border: 2px solid #ba4a95;
}

.electric {
  background-color: #e7c859;
  border: 2px solid #d0834a;
}

.fairy {
  background-color: #eea1e2;
  border: 2px solid #c77fbc;
}

.fighting {
  background-color: #e07f60;
  border: 2px solid #b1664f;
}

.dragon {
  background-color: #8859d5;
  border: 2px solid #724cae;
}

.ice {
  background-color: #71d8de;
  border: 2px solid #65c1c6;
}
